/* FONT STYLES */
@font-face {
  font-family: "Inter";
  src: url(../../Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(../../Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Lexend Dexa";
  src: url(../../Fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
  font-weight: 100;
}

/* CUSTOM PROPERTIES */
:root{
  /* primary colors */
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-sat-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  /* neutral colors */
  --white-clr: hsl(0, 0%, 100%);
  --white-transparent-main: hsla(0, 0%, 100%, 0.75);
  --white-transparent-stats: hsla(0, 0%, 100%, 0.75);
}

/* GLOBAL STYLES */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* console.log of css */
  /* outline: 2px solid tomato !important; */
  /* background-color: rgba(250, 0, 0, 0.05) !important; */
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.5rem;
  font-family: "Inter";
  background-color: var(--very-dark-blue);
  color: var(--white-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.container{
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
}
ul{
  list-style: none;
}

/* CARD */
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 1 0;
  background-color: var(--dark-sat-blue);
  width: 100%;
  height: 100%;
  padding: 70px; /* Why i have to set this to 70px to get excactly evently spaced container?? */
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.card-title{
  letter-spacing: .5px;
  max-width: 20ch;
  font-size: 3.8rem;
  margin-bottom: 3.2rem;
}
.card-title > span{
  color: var(--soft-violet);
}
.card-body{
  line-height: 1.8;
  max-width: 40ch;
  color: var(--white-transparent-main);
  margin-bottom: 6rem;
  font-weight: 200;
}
.card-stats{
  display: flex;
  gap: 8rem;
}
.card-stats > li{
  font-size: 2.4rem;
  font-weight: bold;
}
.card-stats li > span{
  display: block;
  text-transform: uppercase;
  font-family: "Lexend Dexa";
  font-weight: 100;
  margin-top: .6rem;
  color: var(--white-transparent-stats);
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.img{
  width: 100%;
}
.card-img-content{
  position: relative;
  overflow: hidden;
}
.card-img-content:last-child{
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.card-img{
  width: 100%;
  min-width: 0; /* couldn't get it to work so i googled it. */
  height: 100%;
}
.overlay-img::after{
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--soft-violet);
  /* opacity: .55; */
  mix-blend-mode: multiply;
}
/* FOOTER ATTRIBUTION */
.attribution{ 
  font-size: 11px; 
  text-align: center; 
}
.attribution a{ 
  color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 375px ) {
  .container{
    margin-top: 100px;
    flex-direction: column;
    padding: 0 4rem; 
  }
  .card{
    order: 2;
    align-items: center;
    text-align: center;
    padding: 30px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 0;
  }
  .card-img-content:last-child{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

  }
  .card-title{
    font-size: 2.8rem;
  }
  .card-body{
    font-size: 1.4rem;
    margin-bottom: 3.2rem;
  }
  .card-stats{
    flex-direction: column;
    gap: 4rem;
  }
}
